body{

margin:0;

font-family:Segoe UI,sans-serif;

background:url("../images/login-bg.png");

background-size:cover;

background-position:center;

height:100vh;

}

.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:rgba(0,0,0,.45);

}

.login-overlay{

width:100%;

display:flex;

justify-content:center;

}

.login-card{

width:420px;

background:#fff;

padding:45px;

border-radius:20px;

box-shadow:0 20px 60px rgba(0,0,0,.35);

text-align:center;

}

.login-logo{

width:130px;

margin-bottom:25px;

}

.login-card h2{

font-weight:700;

margin-bottom:8px;

color:#222;

}

.login-card p{

color:#777;

margin-bottom:30px;

}

.form-control{

height:55px;

border-radius:10px;

}

.btn-warning{

height:55px;

font-size:18px;

font-weight:600;

border-radius:10px;

}